
/*///  PAGE: Home  ///*/

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home button{
  border: none;
  font-size: 1.5rem;
}

/*///  PAGE: Companies  ///*/

.topBar{
  height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  font-size: 1.5rem;
  background-color: #868686;
}

.topBar p{
  margin: 0;
  font-weight: bold;
}

/*  Company More sales | Month More Sales  */

.main{
  height: 100vh;
}

.company-month{
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.moreSales,
.monthMoreSales{
  padding: 2rem 0;
  border-radius: 1rem;
  text-align: center;
  width: 35rem;
  background-color: #787878;
}

.moreSales h2,
.monthMoreSales h2{
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
}

.moreSales p,
.monthMoreSales p{
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

/*  Table  */

.table{
  margin: 0 auto;
  width: 91.5% !important;
}


/*///  PAGE: Company Detail  ///*/

.menu{
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  height: 3rem;
  align-items: center;
  padding-left: 4.7rem;
  margin: 1rem 0;
}

.menu p{
  margin: 0;
}