/*  PAGE: Companies  */

.topBar{
  border: .1rem solid green;
  height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  font-size: 1.5rem;
  background-color: #212529;
}

.topBar p{
  margin: 0;
  font-weight: bold;
  color: #0DCAF0;
}

/*  Company More sales | Month More Sales  */

.main{
  border: .1rem solid blue;
  height: 100vh;
  background-color: #E5E5E5;
}

.company-month{
  display: flex;
  border: .1rem solid red;
  justify-content: space-around;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.moreSales,
.monthMoreSales{
  padding: 2rem 0;
  border-radius: 1rem;
  text-align: center;
  width: 35rem;
  background-color: #212529;
}

.moreSales h2,
.monthMoreSales h2{
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
  color: #0DCAF0;
}

.moreSales p,
.monthMoreSales p{
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
  color: white;
  text-transform: uppercase;
}

  /*  Table  */

.table{
  margin: 0 auto;
  width: 91.5% !important;
}